# Ignore folders
jupyter/
.texpadtmp/
.vscode/
ignored/
__pycache__/

# Ignore general files
.DS_Store
*.mp4

# Ignore LaTeX intermediates and pdfs
_minted-Documentation/

*.aux
*.log
*.out
*.pdf
!Report.pdf
.ipynb_checkpoints/
venv/
documentation/
Jupyter NoteBooks/
*.pxd
*.png
