# Ignore folders
inputs/
intermediate/
outputs/
jupyter/
.texpadtmp/
.vscode/

# Ignore general files
.DS_Store
*.mp4

# Ignore LaTeX intermediates and pdfs
_minted-Documentation/

*.aux
*.log
*.out
*.pdf